@model RentHome.Web.ViewModels.Rental.ContractViewModel
@{
    ViewData["Title"] = "Contract";
    var img = new SectionImg() { Name = "Contract", Img = "https://media.tehrantimes.com/d/t/2021/04/13/3/3740482.jpg" };
}
<partial name="_SectionImgPartial" model="img" />

<div class="container">
    <br />
    <div class="row  justify-content-center">
        <div class="section-heading text-left wow fadeInUp pr-5 pt-5" data-wow-delay="250ms">
            <h2>@Model.Title</h2>
            <p>Status: @Model.Status</p>
            <p class="wow fadeInUp" data-wow-delay="450ms">
                Duration: @if (Model.Duration == null)
                {
                    <text>---</text>
                }
                else
                {
                    @Model.Duration
                }
            </p>
            <p class="wow fadeInUp" data-wow-delay="450ms">RentDate: @Model.RentDate</p>
            <p class="wow fadeInUp" data-wow-delay="450ms">Tenant: @Model.TenantUserName</p>
            <p class="wow fadeInUp" data-wow-delay="450ms">Owner: @Model.OwnerUserName</p>
        </div>
        <partial name="_PropertiesCardPartial" model="@Model.Property" />
    </div>
</div>
