@model RentHome.Web.ViewModels.Properties.PropertiesListViewModel
@{
    ViewData["Title"] = "All Properties";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row  justify-content-center">
        @foreach (var property in Model.Properties)
        {
            <div class="card col-md-3 mr-3 mt-3 pt-3" style="width: 18rem;">
                <img class="card-img-top mr-2" src="@property.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@property.Name</h5>
                    <p class="card-text">@property.CaregoryName in @property.Address</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
<hr />

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text>}">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            @if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
        {
            @if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text>}">
            <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>

