@model RentHome.Web.ViewModels.Properties.SinglePropertyViewModel
@using RentHome.Data.Models.Enums
@using System.Security.Claims;
@{
    this.ViewData["Title"] = "Details";
}
<section class="breadcumb-area bg-img call-to-action-area bg-fixed bg-overlay-black" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/913/856/991/sea-luxury-homes-beach-swimming-pool-wallpaper-preview.jpg); ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Property</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<hr />
<section class="listings-content-wrapper section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Single Listings Slides -->
                <div class="single-listings-sliders owl-carousel">
                    <img class="w-100" src="@Model.ImageUrl" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="listings-content">
                    <!-- Price -->
                    <div class="list-price">
                        <p>$@Model.Price</p>
                    </div>
                    <h5>@Model.Name</h5>
                    <p class="location">
                        <img src="https://technext.github.io/south/img/icons/location.png" alt="">@Model.Address &nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="starsForRate1" class="fa fa-star @if (0.5 <= Model.AverageVote) { <text>checked</text>}" data-vote="1"></span>
                        <span id="starsForRate2" class="fa fa-star @if (1.5 <= Model.AverageVote) { <text>checked</text>}" data-vote="2"></span>
                        <span id="starsForRate3" class="fa fa-star @if (2.5 <= Model.AverageVote) { <text>checked</text>}" data-vote="3"></span>
                        <span id="starsForRate4" class="fa fa-star @if (3.5 <= Model.AverageVote) { <text>checked</text>}" data-vote="4"></span>
                        <span id="starsForRate5" class="fa fa-star @if (4.5 <= Model.AverageVote) { <text>checked</text>}" data-vote="5"></span>
                        <span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span>
                        @if (this.User.Identity.IsAuthenticated && (this.User.FindFirstValue(ClaimTypes.Name) == Model.OwnerUsername || this.User.FindFirstValue(ClaimTypes.Name) == Model.MenagerUsername))
                        {
                            <span class="single-meta">
                                <a asp-controller="Properties" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                            </span>

                            <form method="post" id="deleteForm" asp-action="Delete" asp-route-id="@Model.Id"></form>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete</a>
                        }
                    </p>
                    <p>@Model.Description</p>
                </div>
                <h4>@Model.CaregoryName</h4>
                <h4>@Model.StatusName</h4>
                @if (Model.StatusName == Enum.GetName(typeof(PropertyStatus), 3) || Model.StatusName == Enum.GetName(typeof(PropertyStatus), 4))
                {
                    <a href="#" class="btn south-btn m-1 active">@Model.StatusName</a>
                }
                else if (Model.StatusName == Enum.GetName(typeof(PropertyStatus), 1) || Model.StatusName == Enum.GetName(typeof(PropertyStatus), 2))
                {
                    <a asp-controller="Rental" asp-action="Index" asp-route-id="@Model.Id" class="btn south-btn m-1">@Model.StatusName</a>
                }
                else
                {
                    <a href="#" class="btn south-btn m-1">@Model.StatusName</a>
                }
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                @if (this.User.FindFirstValue(ClaimTypes.Name) != Model.OwnerUsername)
                {
                    <div class="contact-realtor-wrapper">
                        <div class="realtor-info">
                            <div class="realtor---info">
                                <h2>@Model.OwnerFirstName @Model.OwnerLastName</h2>
                                <p>Owner</p>
                                <h6>
                                    <span style="font-size: 1.2rem;">
                                        <span style="color: #947054;">
                                            <i class="far fa-user"></i>
                                        </span>
                                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.OwnerUsername
                                </h6>
                                <h6><img src="https://technext.github.io/south/img/icons/envelope.png" alt=""> @Model.OwnerEmail</h6>
                            </div>
                            <div class="realtor--contact-form">
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="Contact.YourName" id="contact-name" placeholder="Your Name">
                                        <span asp-validation-for="Contact.YourName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" asp-for="Contact.YourEmail" id="contact-email" placeholder="Your Email">
                                        <span asp-validation-for="Contact.YourEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="Contact.Subject" id="contact-name" placeholder="Subject">
                                        <span asp-validation-for="Contact.Subject" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" asp-for="Contact.Message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                                        <span asp-validation-for="Contact.Message" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn south-btn">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
@if (this.User.Identity.IsAuthenticated && (this.User.FindFirstValue(ClaimTypes.Name) == Model.OwnerUsername || this.User.FindFirstValue(ClaimTypes.Name) == Model.MenagerUsername))
{
    <h6 class="container">Requests:</h6>
    <table class="table table-striped container">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">User Email</th>
                <th scope="col">Type</th>
                <th scope="col">RentDate</th>
                <th scope="col">Message</th>
                <th scope="col">Duration</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.Requests)
            {
                <tr>
                    <th scope="col">@request.Username</th>
                    <th scope="col">@request.UserEmail</th>
                    <th scope="col">@request.Type</th>
                    <th scope="col">@request.RentDate</th>
                    <th scope="col"><textarea class="col-8 border-0">@request.Message</textarea></th>
                    @if (request.Dutartion != null)
                    {
                        <th scope="col">@request.Dutartion</th>
                    } else
                    {
                        <th scope="col">---</th>
                    }
                    <th scope="col">
                        @if (request.Status == RequestStatus.NA)
                        {
                            <a asp-controller="Rental" asp-action="Approve" asp-route-id="@Model.Id" asp-route-requestId="@request.Id" class="btn btn-primary">Approve</a>
                            <a asp-controller="Rental" asp-action="Rejected" asp-route-id="@request.Id" asp-route-propertyId="@Model.Id" class="btn btn-danger">Rejected</a>
                        }
                        @if (request.Status == RequestStatus.Rejected)
                        {
                            <a href="#" class="btn south-btn m-1 active">Rejected</a>
                        }
                        @if (request.Status == RequestStatus.Approved)
                        {
                            <a href="#" class="btn south-btn m-1 active">Approved</a>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
<form method="post" id="antyForgeryForm"></form>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete property</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete "@Model.Name"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("span[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var propertyId = "@Model.Id";
                var data = { propertyId: propertyId, value: value };
                var antyForegeryToken = $('#antyForgeryForm input[name=__RequestVerificationToken]').val();
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antyForegeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1))
                        for (var i = 1; i <= 5; i++) {
                            var item = $("#starsForRate" + i);
                            if (i - 0.5 <= data.averageVote)
                            {
                                item.addClass("checked");
                            }
                            else {
                                item.removeClass("checked");
                            }
                        }
                    },
                    contentType: 'application/json'
                });
            })
        });
    </script>
}