@model RentHome.Web.ViewModels.Search.SearchIndexViewModel
@using RentHome.Data.Models.Enums

@{
    this.ViewData["Title"] = "Search";
}
<section class="breadcumb-area bg-img call-to-action-area bg-fixed bg-overlay-black" style="background-image: url(https://feed-images.rewhosting.com/trestle_idx_rets/_cloud_media/property/residential/361859004-1-o.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">SEARCH</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>Search for your home</p>
                    </div>
                    <!-- Search Form -->
                    <form asp-action="List" method="get" id="advanceSearch">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" asp-for="MinPrice" placeholder="Min price">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <input class="form-control" asp-for="MaxPrice" placeholder="Max price">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select asp-for="@Model.CountryId"
                                            id="CountryId"
                                            asp-items="@(new SelectList(Model.CountryList, "Id", "Name"))"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select asp-for="@Model.CityId"
                                            id="CityId"
                                            asp-items="@(new SelectList(Model.CityList, "Id", "Name"))"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<PropertyStatus>().OrderBy(x => x.Value)" placeholder="Status..."></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-3">
                                <div class="form-group">
                                    <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<PropertyCategory>().OrderBy(x => x.Value)" placeholder="Category..."></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3"></div>

                            <div class="form-group mb-0">
                                <button type="submit" class="btn south-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            getCity();
            $('#CountryId').change(function () {
                getCity();
            });
        });
        function getCity() {
            var url = '@Url.Content("~/")' + "Properties/GetCity";

            var ddlSource = '#CountryId';
            $.getJSON(url, { id: $(ddlSource).val() }, function (data) {
                var items = '';
                $('#CityId').empty();
                $.each(data, function (i, city) {
                    items += "<option value ='" + city.value + "'>" + city.text + "</option>";
                });
                $('#CityId').html(items);
            })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
