@model RentHome.Web.ViewModels.Search.ListViewModel
@{
    this.ViewData["Title"] = "Results from search";
}
<section class="breadcumb-area bg-img call-to-action-area bg-fixed bg-overlay-black" style="background-image: url(https://www.gannett-cdn.com/-mm-/e88c1af2be34b087d9814f3323fb03e70ce91c82/c=0-75-3000-1770/local/-/media/2017/06/27/Naples/Naples/636341717110997836-harwick0702.jpg); ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Results from your search</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <br>
    @if (Model.Properties.Count() == 0)
    {
        <h3>
            No result has been found by given criterias
        </h3>
        <a asp-area="" asp-controller="Search" asp-action="Index" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
    }
    <div class="row  justify-content-center">
        @foreach (var property in Model.Properties)
        {
            <!-- Single Featured Property -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img src="@property.ImageUrl" alt="">

                        <div class="tag">
                            <span>For Sale</span>
                        </div>
                        <div class="list-price">
                            <p>$@property.Price</p>
                        </div>
                    </div>
                    <!-- Property Content -->
                    <div class="property-content">
                        <h5>@property.Name</h5>
                        <p class="location"><img src="https://technext.github.io/south/img/icons/location.png" alt="">@property.Address</p>
                        <p>@property.Description</p>
                        <a class="btn south-btn" asp-area="" asp-controller="Properties" asp-action="Details" asp-route-id="@property.Id">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>